


<script type="text/javascript" src="/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
<footer>
    <div class="row">
        <div class="col-md-6">
            <img src="/images/fresh-strawberry.png" alt="fresh-strawberry" 
            height="300px" style="position: relative; top: 40px; left: 90px;">
        </div>
        <div class="col-md-6">
            <p style="right:200px; color: aliceblue; font-size: 1.2rem;">We are from 1976 fruit store with an aim to simplify your daily shopping experience.
                 We deliver you the same products you get in your
                 regular supermarket and more with the best price at your door steps..</p>
                 <ul class = "footerlist">
                    <li style="display: inline-block;">
                        <a class="fa" href="/contactus">CONTACT US</a>
                    </li>
                    <li style="display: inline-block;">
                        <a class="fa" href="/store">GO TO STORE</a>
                    </li>
                    <li style="display: inline-block;">
                        <a class="fa" href="/aboutus">ABOUT US</a>      
                    </li>
                </ul>
        </div>
    </div>
</footer>
</html>