<ul class="nav navul" style="margin-left:60px; color: green; padding-bottom: 100px;">
    <li>
        <a class="hover-1 hover-underline-animation" href="/store">Store</a>
    </li>
    <li>
        <a class="hover-1 hover-underline-animation" href="/store/seasonalfruits">Seasonal Fruits</a>
    </li>
    <li>
        <a class="hover-1 hover-underline-animation" href="/store/exoticfruits">Exotic Frutis</a>
    </li>
    <li>
        <a class="hover-1 hover-underline-animation" href="/store/sun-dry-fruit-and-berry">Sun Dry Fruit & Berry</a>
    </li>
    <li>
        <a class="hover-1 hover-underline-animation" href="/store/giftbasket">Gift Basket</a>
    </li>
    <li>
        <a class="hover-1 hover-underline-animation" href="/store/frozenfood">Frozen Food</a>
    </li>
    <li>
        <a class="hover-1 hover-underline-animation" href="/store/dryfruitsandnuts">Dry Fruits & Nuts</a>
    </li>
    <li>
        <a class="hover-1 hover-underline-animation" href="/store/seeds">Seeds</a>
    </li>
    
</ul> 