<%- include("partials/header.ejs") -%> 
    <div>
        <img src="/images/apple.png" alt="apple" height="400px">
        <img src="/images/lemon-banner.png" alt="apple" height="250px">       
        <div style="color: green; z-index: 1; display: inline-block; position: relative; top: 50px; left: 50px;">
            <h1 >Welcome To<br>Fruit Shop....</h1><br><br>
            <p style="font-size: 1.3rem;">The Fruit Shop provides conventional, 
                exotic fruits and dry fruits <br>
                through direct source since 1976.</p>
            <a style="position: relative; top: 100px; left: 100px;" class="button-85 btn btn-lg" href="/store">go to store</a>
        </div>    
    </div>
    
    <div class="homediv2 container-fluid">
        <div>
            <h1 style="color: white; margin-left:10%; font-size: 3.5rem; display: inline;">Why Choose Us....</h1>
            <img src="/images/r.png" alt="" height="10%" width="500px" style="margin-left: 275px; display: inline;" >
        </div>
        <div style="color: white; margin-left:10%;">
            <img src="/images/guava.png" alt="" height="200px" style="display: inline-block ; position:relative; bottom: 20px;">
            <div style="display: inline-block; margin-left: 50px;">
                <h2>Quality</h2>
                <p style="font-size: 1.2rem;">We facilitate our customers with the farm-fresh quality products.
                    <br> You never deliver stale or contaminated food to them</p>

            </div>
        </div>
        <div style="color: white; margin-left:10%;">
            
            <div style="display: inline-block;margin-top: 120px; margin-left: 100px;">
                <h2>Healthy</h2>
                <p style="font-size: 1.2rem;">Harmful pesticide free fruits are always more nutritious and healthy</p>
            </div>
            <img src="/images/lady-with-fruit.png" alt="lady-with-fruit" height="200px" style="display: inline-block;margin-left: 100px;">
        </div>
        <div style="color: white; margin-left:10%; margin-top: 120px;">
            <img src="/images/mango.png" alt="" height="200px" style="display: inline-block; position:relative; bottom: 20px; ">
            <div style="display: inline-block; margin-left: 100px;">
                <h2>Fresh</h2>
                <p style="font-size: 1.2rem;">We offer you fresh fruits and vegetables
                <br> which are sourced from organic farms so that you can lead a healthier life</p>

            </div>
        </div>
    </div>
    <div>
            <div class="row">
                <p style="color: green; font-size: 1.4rem; padding-top: 60px; padding-left: 200px;" class="col-md-6">The Fruit Shop provides conventional, exotic fruits and dry fruits 
                    <br> through direct source since 1976. Our priority is to deliver fresh and pesticide free products 
                    <br> to our customers. Our brand is committed to deliver 
                    <br> you the best quality of fresh and nutritious fruits and dry fruits At your place at a low price.
                </p>
                <div class="col-sm-1">

                </div>
                <img src="/images/banner.png" alt="" class="col-md-4" height="350px" style="position: relative; left: 20px;">

            </div>
        </div>
    <br><br><br>
<%- include("partials/footer.ejs") -%> 
