<%- include('partials/header.ejs') %> 
<%- include('fruitbar.ejs') %> 
<div class="container margin">
    <div class="row">
        <div class="first col-md-4" id="item1" >
            <img src="/images/fruits/lemon.png" alt="">
            <div class="fc" >
                <h3 >Lemon</h3>
                <p>Price : Rs <span>40</span>/- per kg</p>
                <div class="quantity" id="appleQuantity">
                    <button class="quantity-btn" onclick="minus('appleQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('appleQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item1)">Add To Cart</button>
            </div>
        </div>
        <div class="first col-md-4" id="item2">
            <img src="/images/fruits/cranberry.png" alt="">
                    <div class="fc">
                        <h3 name = "fruit">CranBerry</h3>
                        <p>Price : Rs <span>50</span>/- per kg</p>
                        <div class="quantity" id="guavaQuantity">
                            <button class="quantity-btn" onclick="minus('guavaQuantity')"><h1>-</h1></button>
                            <h3 class="cnt">1</h3>
                            <button class="quantity-btn" onclick="plus('guavaQuantity')"><h1>+</h1></button>
                        </div>
                        <button class="button-85G btn btn-md fcButton" onclick="addToCart(item2)">Add To Cart</button>
                            
                    </div>  
        </div>
        <div class="first col-md-4" id="item3">
            <img src="/images/fruits/fig.png" alt="" >
            <div class="fc" >
                <h3>fig</h3>
                <p>Price : Rs <span>100</span>/- per 14pcs</p>
                <div class="quantity" id="mangoQuantity">
                    <button class="quantity-btn" onclick="minus('mangoQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('mangoQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item3)">Add To Cart</button>
            </div>        </div>
        <div class="first col-md-4" id="item4">
            <img src="/images/green-grapes.png" alt="" >
            <div class="fc" >
                <h3>Green grapes</h3>
                <p>Price : Rs <span>120</span>/- per kg</p>
                <div class="quantity" id="greengrapeQuantity">
                    <button class="quantity-btn" onclick="minus('greengrapeQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('greengrapeQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item4)">Add To Cart</button>
            </div>        </div>

    </div>
    <div class="row">
        <div class="first col-md-4" id="item5">
            <img src="/images/fruits/Orange-PNG-Image.png" alt="">
            <div class="fc">
                <h3>Orange</h3>
                <p>Price : Rs <span>80</span>/- per kg</p>
                <div class="quantity" id="orangeQuantity">
                    <button class="quantity-btn" onclick="minus('orangeQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('orangeQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item5)">Add To Cart</button>
            </div>
            
        </div>
        <div class="first col-md-4" id="item6">
            <img src="/images/fruits/amla-berry.webp" alt="">
            <div class="fc">
                <h3>Amla</h3>
                <p>Price : Rs <span>120</span>/- per kg</p>
                <div class="quantity" id="amlaQuantity">
                    <button class="quantity-btn" onclick="minus('amlaQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('amlaQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item6)">Add To Cart</button>
            </div>        </div>
        <div class="first col-md-4" id="item7">
            <img src="/images/fruits/Banana-PNG-image-500x332.png" alt="">
            <div class="fc">
                <h3>Banana</h3>
                <p>Price : Rs <span>25</span>/- per dozen</p>
                <div class="quantity" id="bananaQuantity">
                    <button class="quantity-btn" onclick="minus('bananaQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('bananaQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item7)">Add To Cart</button>
            </div>        </div>
        <div class="first col-md-4" id="item8">
            <img src="/images/fruits/strawberry_PNG2630.png" alt="">
            <div class="fc">
                <h3>Straw berry</h3>
                <p>Price : Rs <span>300</span>/- per kg</p>
                <div class="quantity" id="strawberryQuantity">
                    <button class="quantity-btn" onclick="minus('strawberryQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('strawberryQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item8)">Add To Cart</button>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="first col-md-4" id="item9">
            <img src="/images/fruits/custurdapple.png" alt="">
            <div class="fc">
                <h3>Custurd Apple</h3> 
                <p>Price : Rs <span>50</span>/- per dozen</p>
                <div class="quantity" id="redbananaQuantity">
                    <button class="quantity-btn" onclick="minus('redbananaQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('redbananaQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item9)">Add To Cart</button>
            </div>        </div>
            <div class="first col-md-4" id="item10">
                <img src="/images/fruits/pomegranate.png" alt="">
                <div class="fc">
                    <h3>pomegranate</h3>
                    <p>Price : Rs <span>100</span>/- per kg</p>
                    <div class="quantity" id="pomegranateQuantity">
                        <button class="quantity-btn" onclick="minus('pomegranateQuantity')"><h1>-</h1></button>
                        <h3 class="cnt">1</h3>
                        <button class="quantity-btn" onclick="plus('pomegranateQuantity')"><h1>+</h1></button>
                    </div>
                    <button class="button-85G btn btn-md fcButton" onclick="addToCart(item10)">Add To Cart</button>
                </div>        </div>
        <div class="first col-md-4" id="item11">
            <img src="/images/fruits/papaya.png" alt="">
            <div class="fc">
                <h3>papaya</h3>
                <p>Price : Rs <span>40</span>/- per fruit</p>
                <div class="quantity" id="papayaQuantity">
                    <button class="quantity-btn" onclick="minus('papayaQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('papayaQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item11)">Add To Cart</button>
            </div>        </div>
        <div class="first col-md-4" id="item12">
            <img src="/images/fruits/cherry.png" alt="">
            <div class="fc">
                <h3>Cherry</h3>
                <p>Price : Rs <span>500</span>/- per kg</p>
                <div class="quantity" id="cherryQuantity">
                    <button class="quantity-btn" onclick="minus('cherryQuantity')"><h1>-</h1></button>
                    <h3 class="cnt">1</h3>
                    <button class="quantity-btn" onclick="plus('cherryQuantity')"><h1>+</h1></button>
                </div>
                <button class="button-85G btn btn-md fcButton" onclick="addToCart(item12)">Add To Cart</button>
            </div>        
        </div>
    </div>
</div>




<%- include("partials/footer.ejs") -%> 
