<%- include('partials/header.ejs') %> 
<p style="color: rgb(0, 0, 0) ; font-weight:bold; font-size:60px; position: relative; left:350px;">
    your order was placed 
    <br>
    it will reach you in 3 to 6 days...
</p>
<h3 style="position: relative; left:350px;" > <a href="/store">Continue Shopping....</a> </h3>


<%- include("partials/footer.ejs") -%>